<h1>List of Friends Goes Here</h1>

<% friends.forEach(function(friend) { %>
    <li><%= friend %></li>
<% }); %>

<form action="/addFriend" method="post">
    <input name="newFriend" type="text" placeholder="Friend's name">
    <button>Add new friend!</button>
</form>